pkgbase = symfony-cli-bin
	pkgdesc = The Symfony client helps developers create and manage Symfony applications.
	pkgver = 5.12.0
	pkgrel = 7
	url = https://symfony.com/
	arch = x86_64
	license = AGPL3
	provides = symfony-cli
	conflicts = symfony-cli
	source = symfony-cli-bin-5.12.0.tar.gz::https://github.com/symfony-cli/symfony-cli/releases/download/v5.12.0/symfony-cli_linux_amd64.tar.gz
	sha256sums = a4fe22ed0110fe39d6bea503645725eb84024f1b5828256409b2d7e279c0104f

pkgname = symfony-cli-bin
